<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Skyler Layne</h1>
    <p>I'm working on my rails portfolio with a blogging application!</p>
    <p>The application I'm working on is presented by Mackenzie Child.</p>
    <p>
      Let me share my secret:
      I grew up with what some call a large family of 7, so naturally I love to work in team environments. I usually explain my thoughts with Java as it's the first way I've learned. I love Ruby, it's beautiful but I also like to switch it up with C when it's completely necessary.
    </p>
    <p>
      I've developed a few projects for fun, my development projects including various web development projects including: WordPress development, Ruby on Rails and Java Spring.</li>

    </p>
  </div>
</div>
