
  <div class="post_wrapper">
    <h2 class="title">
      The wonderful Sky
    </h2>
<div id="description">

  <p class="intro">
         Hey, I'm Sky this is my multi purpose blog/shop/portfolio platform!
    </p>


    <div class="blog">
      <h2 class="title">
        Blog
      </h2>
      <p>
        The blog can be found here /blog, realistically it's a simple CMS with user centered design.
      </p>

    </div>

    <div class="shop">
      <h2 class="title">
        Shop
      </h2>
      <p>
        The shop can be found here /shop, realistically it's a simple CMS with user centered design.
      </p>

    </div>


    <div class="portfolio">
      <h2 class="title">
        Portfolios
      </h2>
      <p>
        The blog can be found here /portfolios, realistically it's a simple CMS with user centered design.
      </p>

    </div>
    <div class="clearfix"></div>

  </div>
</div>
